<% var voted = voted%>

<div id = big-search-container>
    <div id = search-container>
        <h1 id = search-title class = table-title><%=search.Title%></h1>
        <table class = gen-table>
            <tbody>
                <tr>
                    <td>Year</td>
                    <td><%=search.Year%></td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td><%=search.Genre%></td>
                </tr>
                <tr>
                    <td>Runtime</td>
                    <td><%=search.Runtime%></td>
                </tr>
                <tr>
                    <td>Director</td>
                    <td><%=search.Director%></td>
                </tr>
                <tr>
                    <td>Cast</td>
                    <td><%=search.Actors%></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><%=search.Country%></td>
                </tr>
                <tr>
                    <td>Box office</td>
                    <td><%=search.BoxOffice%></td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td><%=vote%></td>
                </tr>
                <tr>
                    <td>Plot</td>
                    <td><%=search.Plot%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown">
        <form id = "vote" method="POST" action="/vote">
            <button class="dropbtn">VOTE</button>
            <div class="dropdown-content">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="1">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="2">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="3">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="4">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="5">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="6">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="7">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="8">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="9">
                <input class="form-control mr-sm-2" type="submit" name = "vote" value="10">
            </div>
        </form>
    </div>
</div>
<script>
    var voted = '<%- voted %>'
    if (voted === "true") {alert("you already voted this film")}
</script>